<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<h1 class="mb20">Category Edit</h1>
		<div class="well">
				<div class="form-group">
					<label>Name:</label>
					{{input type="text" value=model.name class="form-control"}}
				</div>
				<div class="form-group">
					<label>Image url:</label>
					{{input type="text" value=model.image_url class="form-control mb20"}}
				</div>
				<div class="form-group text-center">
					<img src="{{ model.image_url }}">
				</div>
				<p>
					<button {{action "update" model}} class="btn btn-success">Save</button>
					<button {{action "cancel" model}} class="btn btn-default">Cancel</button>
				</p>
		</div>
	</div>
</div>