<div class="col-lg-10 col-lg-offset-1">
	<h1 class="mb20">Model Edit</h1>
	<div class="well">
		<div class="form-group">
			<label>Name:</label>
			{{input class="form-control" type="text" value=model.name}}
		</div>
		<div class="form-group">
			<label>Visibility:</label>
			{{radio-button value=1 groupValue=model.visible }} Visible
			{{radio-button value=0 groupValue=model.visible }} Hidden
		</div>
		<div class="form-group">
			<label>Price:</label>
			{{input class="form-control" type="text" value=model.price}}
		</div>

		<div class="form-group">
			<label>Image url:</label>
			{{input class="form-control" type="text" value=model.image_url}}
		</div>


		<div class="form-group" class="text-center">
			<img src="{{ model.image_url }}" class="img-responsive">
		</div>
      <div class="form-group">
          <label for="">Download link gcode:</label>
        {{input class="form-control" type="text" value=model.download_link_gcode}}
      </div>
      <div class="form-group">
          <label for="">Download link stl:</label>
        {{input class="form-control" type="text" value=model.download_link_stl}}
      </div>
      <div class="form-group">
          <label for="">Printing time:</label>
        {{input class="form-control" type="text" value=model.printing_time}}
      </div>
      <div class="form-group">
          <label for="">Filament length:</label>
        {{input class="form-control" type="text" value=model.filament_length}}
      </div>
      <div class="form-group">
          <label for="">Filament volume:</label>
        {{input class="form-control" type="text" value=model.filament_volume}}
      </div>
      <div class="form-group">
          <label for="">Category:</label>
        {{select-picker content=categories
                        value=model.category.id
                        optionValuePath="content.id"
                        optionLabelPath="content.name"}}
      </div>
		<div class="form-group mt20">
			<label>Created by:</label>
			{{select-picker content=users
			       			value=model.created_by.id
			       			optionValuePath="content.id"
			       			optionLabelPath="content.full_name"}}
		</div>
		<p>
			<button {{action "update" model}} class="btn btn-success">Save</button>
      <button {{action "forceDelete" model}} class="btn btn-danger">Force delete</button>
			<button {{action "cancel" model}} class="btn btn-default">Cancel</button>
		</p>
	</div>
</div>