<table>
	<thead>
		<tr>
			<th>Status</th>
			<th>From</th>
			<th>Address</th>
			<th>Price</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		{{#each order in model}}
			{{#link-to 'orders.manage' order tagName="tr"}}
				{{#unless order.was_opened}}
					<td>NEW</td>
				{{else}}
					{{#if order.was_shipped}}
						<td>SHIPPED</td>
					{{else}}
						{{#if order.was_printed}}
							<td>PRINTED</td>
						{{else}}
							<td>PENDING</td>
						{{/if}}
					{{/if}}
				{{/unless}}
				<td>{{order.full_name}}</td>
				<td>{{order.address}}</td>
				<td>{{order.price}}</td>
				<td><button {{action 'edit' order bubbles=false}}>Edit</button></td>
				<td><button {{action 'delete' order}}>Delete</button></td>
			{{/link-to}}
		{{/each}}
	</tbody>
</table>